@model PingPong.Models.GameTeamVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamOne.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamOneScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamOneScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamTwo.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamTwoScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamTwoScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
