@model PingPong.Models.PlayerDetailsVM

@{
    ViewData["Title"] = "Details";
}

@functions {
    void RenderPlayer(Player player) {
        if (player.Id == Model.Id)
        {
            <b> @player.Name </b>
        } else
        {
            @player.Name
        } 
    }
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastGames)
        </dt>
        @foreach(var game in Model.LastGames)
        {
            <dt class = "col-sm-2" />
            <dd class = "col-sm-10" 
                @if(
                    (game.TeamOne.HasPlayer(Model.Id) && game.TeamOneScore > game.TeamTwoScore)
                    || (game.TeamTwo.HasPlayer(Model.Id) && game.TeamTwoScore > game.TeamOneScore)
                ) {
                    @:style="color:green;"
                } else {
                    @:style="color:red;"
                }
            >
                @{RenderPlayer(game.TeamOne.PlayerOne);}
                @if(game.TeamOne.PlayerTwo != null) {
                    @:& @{RenderPlayer(game.TeamOne.PlayerTwo);}
                }
                - @game.TeamOneScore
                |
                @game.TeamTwoScore
                - @{RenderPlayer(game.TeamTwo.PlayerOne);}
                @if(game.TeamTwo.PlayerTwo != null) {
                    @:& @{RenderPlayer(game.TeamTwo.PlayerTwo);}
                }
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
