@model IEnumerable<PingPong.Models.PlayerLeaderboardVM>

@{
    ViewData["Title"] = "Leaderboard";
}

<h1>Leaderboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Wins / Loses
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamesPlayed)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Wins / @item.Loses
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GamesPlayed)
                </td>
            </tr>
        }
    </tbody>
</table>
